.btn-secondary {
  background-color: white;
}

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  aspect-ratio: 1/1;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-image {
  width: 350px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: white;
}

image1 {
  width: 90%;
  object-fit: cover;
  border-radius: 10px;
  margin: auto;
  padding: 40px;
  display: flex;
}

.row-image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin: auto;
  display: flex;
  height: 100%;

}
.checked {
  color: orange;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 50%; 
}
.carousel-indicators button {
  width: 12px; 
  height: 12px;
  border-radius: 40%; 
  background-color: #0a0a0a; 
  border: none;
  margin: 5px; 
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.carousel-indicators .active {
  background-color: #007bff; 
  transform: scale(1.3); 
}


.container4 {
  height: 300px;
}
